
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	border-style: groove;
    border-color: lightskyblue;
	border-width: 15px;
	background-color: lightpink;
}
